@{
    ViewData["Title"] = "Cart";   
    Layout = "_DashboardLayout";
}

<div id="cart-container" class="ms-5">
    <div class="d-flex" ><h4 style="margin-left:8rem; margin-bottom: 3rem">DVD</h4> <h4 style="margin-left:25rem;">Quantity</h4> <h4 style="margin-left: 18rem;">Price</h4></div>
    @*<div class="d-flex">
        <div>
            <img id="cart-img-dvd" src="https://via.placeholder.com/210x315" />
            <p id="cart-dvd-name" style="max-width: 20px"></p>
        </div>       
        <div class="m-auto">
            <input type="number" id="quantity"/>
            <p id="cart-total"></p>
        </div>      
    </div>   *@    
    <h3 style="margin-left: 50rem;">Total: <span id = "total-price" style="margin-left: 5rem;"></span></h3>
</div>
