@{
    ViewData["Title"] = "Dashboard";
    Layout = "_DashboardLayout";
}
<div class="container-fluid">
    <div class="ms-5 d-flex dvd-container flex-wrap w-100">
        <div class="d-flex flex-column flex-wrap">
            <a href="#">
                <img src="https://via.placeholder.com/160x200" width="160" height="200" >
                <p >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                </p>
            </a>            
        </div>
        <div class="d-flex flex-column flex-wrap">
            <a href="#">
                <img src="https://via.placeholder.com/160x200" width="160" height="200" >
                <p >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                </p>
            </a>            
        </div>
        <div class="d-flex flex-column flex-wrap">
            <a href="#">
                <img src="https://via.placeholder.com/160x200" width="160" height="200" >
                <p >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                </p>
            </a>           
        </div>
        <div class="d-flex flex-column flex-wrap">
            <a href="#">
                <img src="https://via.placeholder.com/160x200" width="160" height="200" >
                <p >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                </p>
            </a>            
        </div>
        <div class="d-flex flex-column flex-wrap">
            <a href="#">
                <img src="https://via.placeholder.com/160x200" width="160" height="200" >
                <p >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                </p>
            </a>       
        </div>
       <div class="d-flex flex-column flex-wrap">
            <a href="#">
                <img src="https://via.placeholder.com/160x200" width="160" height="200" >
                <p >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                </p>
            </a>            
        </div>
        <div class="d-flex flex-column flex-wrap">
            <a href="#">
                <img src="https://via.placeholder.com/160x200" width="160" height="200" >
                <p >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                </p>
            </a>            
        </div>
        <div class="d-flex flex-column flex-wrap">
            <a href="#">
                <img src="https://via.placeholder.com/160x200" width="160" height="200">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                </p>
            </a>
        </div>
        <div class="d-flex flex-column flex-wrap">
            <a href="#">
                <img src="https://via.placeholder.com/160x200" width="160" height="200" >
                <p >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                </p>
            </a>            
        </div>
        <div class="d-flex flex-column flex-wrap">
            <a href="#">
                <img src="https://via.placeholder.com/160x200" width="160" height="200" >
                <p >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                </p>
            </a>            
        </div>
    </div>
</div>

