@{
    ViewData["Title"] = "Dashboard/EditDVD";
    Layout = "_DashboardLayout";
}
<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-secondary">
                <tr>
                    <th scope="col" class="p-3">DVD Name</th>
                    <th scope="col" class="p-3">Quantity</th>
                    <th scope="col" class="p-3">Category</th>
                    <th scope="col" class="p-3">Rate Per Rent</th>
                    <th scope="col" class="p-3">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="p-3">1</th>
                    <td class="p-3">Mark</td>
                    <td class="p-3">Otto</td>
                    <td class="p-3">mdo</td>
                    <td class="p-3">Edit</td>
                </tr>
                <tr>
                    <th scope="row" class="p-3">2</th>
                    <td class="p-3">Jacob</td>
                    <td class="p-3">Thornton</td>
                    <td class="p-3">fat</td>
                    <td class="p-3">Edit</td>
                </tr>
                <tr>
                    <th scope="row" class="p-3">3</th>
                    <td class="p-3">Larryd</td>
                    <td class="p-3">the Bird</td>
                    <td class="p-3">twitter</td>
                    <td class="p-3">Edit</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

