@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center index-container">
    <h1 class="website-name">DVD Rental</h1>
    <form action="/Home/Dashboard">
        <h5>Email</h5>
        <input />
        <h5>Password</h5>
        <input />
        <button type="submit">Sign in</button>
    </form>
    <hr />
    <h6 class="text-center">Forgot password?</h6>
    <h6 class="text-center">Do not have an account? <a>Sign up</a></h6>
</div>
