@{
    Layout = "_DashboardLayout";
}

<div id="searchbar-container" class="position-fixed">
    <div class="container h-100">
        <div class="h-100">
            <div class="searchbar d-flex justify-content-center">
                <p>Search</p>
                <input class="search_input" type="text" name="">
                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-secondary">
                <tr>
                    <th scope="col" class="p-3">DVD Name</th>
                    <th scope="col" class="p-3">Total</th>
                    <th scope="col" class="p-3">Rental Date</th>
                    <th scope="col" class="p-3">Return Date</th>
                    <th scope="col" class="p-3">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="p-3">1</th>
                    <td class="p-3">Mark</td>
                    <td class="p-3">Otto</td>
                    <td class="p-3">mdo</td>
                    <td class="p-3">Edit</td>
                </tr>
                <tr>
                    <th scope="row" class="p-3">2</th>
                    <td class="p-3">Jacob</td>
                    <td class="p-3">Thornton</td>
                    <td class="p-3">fat</td>
                    <td class="p-3">Edit</td>
                </tr>
                <tr>
                    <th scope="row" class="p-3">3</th>
                    <td class="p-3">Larryd</td>
                    <td class="p-3">the Bird</td>
                    <td class="p-3">twitter</td>
                    <td class="p-3">Edit</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

