/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/
body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 490px;
    max-width: 490px;
    background-color: #444444;
    position: fixed;
    height: 100%;
}

    .sidebar > * {
        color: white;
    }

    .sidebar > h1 {
        height: 4.375rem;
        width: 16.5rem;
    }

    .sidebar > h5 {
        height: 2.438rem;
        width: 4.063rem;
    }

    .sidebar a {
        display: block;
        padding: 16px;
        text-decoration: none;
    }


        .sidebar a.active {
            background-color: #04AA6D;
            color: white;
        }

        .sidebar a:hover:not(.active) {
            background-color: #555;
            color: white;
        }

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

/*Index*/
.website-name {
    margin: auto;
    height: 4.375rem;
    width: 16.5rem;
}

.index-container {
    margin: auto;
    width: 21.75rem;
    margin-top: 10rem;
}

    .index-container form > button {
        width: 21.75rem;
        height: 3.063rem;
    }

    .index-container form > input {
        width: 21.75rem;
        height: 3.5rem;
        margin-bottom: 2rem;
    }

    .index-container form > h5 {
        width: 4.375rem;
        height: 2.438rem;
    }

h5 {
    font-size: 28px;
}

h1, h5 {
    padding: 0;
    margin: 0;
}

hr {
    width: 21.75rem;
}

/*Dashboard*/
.main-body {
    position: absolute;
    margin-left: 31rem;
}

.container-fluid {
    margin-top: 7rem;
    
}

.dvd-container > div {
    margin-right: 7rem;
    margin-bottom: 6rem;
    max-width: 160px;
    text-align: center;
}


/*EditDVD*/
table {
    table-layout: fixed;
}

td {
    word-wrap: break-word;
}

th, td {
    text-align: center;
}


#searchbar-container {
    top: 0;
    max-height:4rem;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.searchbar > p{
    margin-top: 0.5rem;
    color: white;
    transition: width 0.4s linear;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
    padding: 0 10px;
    width: 450px;
    caret-color: red;
    transition: width 0.4s linear;
}
.searchbar:hover > p {
    visibility: hidden;
    transition: visibility 0.4s linear, opacity 0.4s linear, display 0.4s;
    opacity: 0;
}
.searchbar > p {
    transition: visibility 0.4s linear, opacity 0.4s linear;
    visibility: visible;
}
.searchbar:hover > .search_icon {
    background: white;
    color: #e74c3c;
    display: block;
}

.search_icon {
    display: none;
    height: 40px;
    width: 40px;
    float: right;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}